{% extends 'base.html' %}

{% block head %}  {% endblock %}


{% block body %}
<h4>Try these terms for simple search</h4>
Risk<br>
Risk financial <br>
Risk traders <br>
Risk political <br>
profit <br>
JEDI chewco  <br>
Election Bush <br>
<h4> Queries for advanced search</h4>
risk reputation of all employees<br>
risk departmental<br>
political risks<br>
Bankruptcy mails<br>
Election BUSH<br>
Strategic decisions<br>
Joint Energy Development Investment Limited<br> 
reorganization plans<br>
Chewco Investments L. P.<br>
Profits scenarios<br>
{% endblock %}